{%  extends "index.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<style>
    body::before{
    display:block;
    content: '';
<!--    height: 60px;-->
    }

    form{
    width: 400px;
    margin: auto;
    padding: 3rem 0;
    }

    label{
    font-weight: bold;
    color: teal;
    margin-bottom: 5px;
    }
</style>

<form method="post" enctype="multipart/form-data" class="">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary mt-2"  type="submit" value="Edit Credit">
</form>
{% endblock%}